<h1>thank you</h1>
<script>
    document.querySelector(`h1`);
    /*const Params={
        "author":"xyl",
        "title":"fetch test",
        "time": new Date(),
        "ask_list": []
    };
    
    fetch('/api/create',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    });
    fetch('/api/manage?user=xyl',{
        method: 'get',
        headers: {
            'Accept': 'application/json',
        },
        }).then(res=>res.json())
            .then(res=>{
            console.log(res.data.data);
          });
    const Params = {
        "deleteList":[108,109]
    };
    fetch('/api/manage/delete',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });
    const Params = {
        "user":"",
        "originPwd":"",
        "newPwd":""
    };
    fetch('/api/changePwd',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    });*/
    
    /*
    const Params = {
        "user":"",
        "verification":"",
        "newPwd":""
    };
    fetch('/api/forgetPwd',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    })*/
    
    //-----------register-----------
   /* const Params = {
        "user":"aasfd",
        "pwd":66666,
        "verification":1134,
    };
    fetch('/api/register',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });*/

//------------------login--------------
/*
    const Params = {
        "user":"aasfd",
        "pwd":66666,

    };
    fetch('/api/login',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });*/


    //---------------fill--------
/*
     const Params = {
        "qid":1

    };
    fetch('/api/fill',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });
    */

//---------ansFill----------
/*
    const Params = {
        qid:'2',
        username:'ASD',
        ans_time:'',
    ans_list: [{
        //第一题
        ans_aid: 1,//题号
        ans: '',//问答内容，可为空
        choice: ['A','B'],//所选选项，可为空
    },{
        //第二题
    }]

    };
    fetch('/api/ansFill',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res);
    });
    */

//--------ans------
 /*const Params = {
        "qid":''

    };
    fetch('/api/ans',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });
*/

//----------ansContent------
/* const Params = {
        "qid":'2',
        "ans_qid":'6'

    };
    fetch('/api/ansContent',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });

*/

//-------------text----------
/*
 const Params = {
        "qid":2,
        "aid":1
    };
    fetch('/api/text',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });*/


//---------------------ques---------------

/*const Params = {
        "qid":4
       
    };
    fetch('/api/ques',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });*/ 



//---------------quesContent
/*const Params = {
        "qid":4
       
    };
    fetch('/api/quesContent',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });
    */
    

//-----------------analysis----------
/*const Params = {
        "qid":2
       
    };
    fetch('/api/analysis',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });
*/



//----------------deleAns------------
const Params = {
        "ans_qid":''
       
    };
    fetch('/api/deleAns',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });
    
</script>
