<h1>thank you</h1>
<script>
    document.querySelector(`h1`);
    /*const Params={
        "author":"xyl",
        "title":"fetch test",
        "time": new Date(),
        "ask_list": []
    };
    
    fetch('/api/manage?user=xyl',{
        method: 'get',
        headers: {
            'Accept': 'application/json',
        },
        }).then(res=>res.json())
            .then(res=>{
            console.log(res.data.data);
          });
    const Params = {
        "deleteList":[108,109]
    };
    fetch('/api/manage/delete',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });
    const Params = {
        "user":"",
        "originPwd":"",
        "newPwd":""
    };
    fetch('/api/changePwd',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    });*/
    
    /*
    const Params = {
        "user":"",
        "verification":"",
        "newPwd":""
    };
    fetch('/api/forgetPwd',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    })*/
    
    //-----------register-----------
   /* const Params = {
        "user":"aasfd",
        "pwd":66666,
        "verification":1134,
    };
    fetch('/api/register',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });*/

//------------------login--------------
/*
    const Params = {
        "user":"aasfd",
        "pwd":66666,

    };
    fetch('/api/login',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.code);
    });*/


    //---------------fill--------
/*
     const Params = {
        "qid":1

    };
    fetch('/api/fill',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });
    */

//---------ansFill----------
/*
    const Params = {
        qid:'2',
        username:'ASD',
        ans_time:'',
    ans_list: [{
        //第一题
        ans_aid: 1,//题号
        ans: '',//问答内容，可为空
        choice: ['A','B'],//所选选项，可为空
    },{
        //第二题
    }]

    };
    fetch('/api/ansFill',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res);
    });
    */

//--------ans------
 /*const Params = {
        "qid":''

    };
    fetch('/api/ans',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });
*/

//----------ansContent------
/* const Params = {
        "qid":'2',
        "ans_qid":'6'

    };
    fetch('/api/ansContent',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });

*/

//-------------text----------
/*
 const Params = {
        "qid":2,
        "aid":1
    };
    fetch('/api/text',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });*/


//---------------------ques---------------

/*const Params = {
        "qid":4
       
    };
    fetch('/api/ques',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });*/ 



//---------------quesContent
/*const Params = {
        "qid":4
       
    };
    fetch('/api/quesContent',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });
    */
    

//-----------------analysis----------
/*const Params = {
        "qid":2
       
    };
    fetch('/api/analysis',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data.data);
    });
*/



//----------------deleAns------------
/*const Params = {
        "ans_qid":''
       
    };
    fetch('/api/deleAns',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res =>{
        console.log(res.data);
    });*/

//----------------createSave------------
const Params={
        "author":"xyl2",
        "title":"createSave test",
        "time": "200000000",
        "ask_list" : [ 
        {
            "aid" : 1,
            "type" : 1,
            "isNecessary" : true,
            "ask" : "你最喜欢哪个宝可梦？",
            "ans" : "",
            "choice_list" : [ 
                {
                    "content" : "皮卡丘",
                    "count" : 3
                }, 
                {
                    "content" : "杰尼龟",
                    "count" : 1
                }, 
                {
                    "content" : "小火龙",
                    "count" : 5
                }, 
                {
                    "content" : "超梦",
                    "count" : 4
                }, 
                {
                    "content" : "伊布",
                    "count" : 3
                }, 
                {
                    "content" : "拉帝欧斯",
                    "count" : 0
                }
            ]
        }, 
        {
            "aid" : 2,
            "type" : 2,
            "isNecessary" : true,
            "ask" : "你最喜欢哪个天线宝宝？",
            "ans" : "",
            "choice_list" : [ 
                {
                    "content" : "丁丁",
                    "count" : 5
                }, 
                {
                    "content" : "迪西",
                    "count" : 5
                }, 
                {
                    "content" : "拉拉",
                    "count" : 6
                }, 
                {
                    "content" : "小波",
                    "count" : 8
                }
            ]
        }, 
        {
            "aid" : 3,
            "type" : 3,
            "isNecessary" : true,
            "ask" : "对数据库设计有什么建议？",
            "ans" : "无"
        }] 
    };

fetch('/api/createSave',{
        method: 'post',
        body: JSON.stringify(Params),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
        .then(res=>{
        console.log(res);
    });
    
</script>
